<h1 style="padding-left: 10px;"><%= t :all_accounts %></h1>
<% color = "#CCCCCC" %>
<%= form_tag({:controller => "account", :action => "add"}) do %>
    <table align="center" border="0" width="50%">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Admin</th>
        <th>Delete</th>
        <td></td>
      </tr>
      <% row_is_odd = false %>
      <% @accounts.each do |account| %>
          <% if row_is_odd %>
              <% row_is_odd = false %>
              <tr>
                <td><%= account.id %></td>
                <td><%= account.name %></td>
                <td><%= account.username %></td>
                <td>Encrypted <%= image_tag("lock.png", :width => "20px", :height => "20px", :border=>"0") %></td>
                <td>
                  <% if account.is_admin %>
                      <%= image_tag("checkmark.png", :width => "20px", :height => "20px", :border=>"0") %>
                  <% else %>

                  <% end %>
                </td>
                <td>
                  <% if account.id != 1 %>
                      <% image = image_tag "x.png", :width => "20px", :height => "20px", :border=>"0" %>
                      <%= link_to image, :controller => "account", :action => "delete", :id => account.id %>
                  <% end %>
                </td>
              </tr>
          <% else %>
              <% row_is_odd = true %>
              <tr>
                <td bgcolor="<%= color %>"><%= account.id %></td>
                <td bgcolor="<%= color %>"><%= account.name %></td>
                <td bgcolor="<%= color %>"><%= account.username %></td>
                <td bgcolor="<%= color %>">Encrypted <%= image_tag("lock.png", :width => "20px", :height => "20px", :border=>"0") %></td>
                <td bgcolor="<%= color %>">
                  <% if account.is_admin %>
                      <%= image_tag("checkmark.png", :width => "20px", :height => "20px", :border=>"0") %>
                  <% else %>

                  <% end %>
                </td>
                <td bgcolor="<%= color %>">
                  <% if account.id != 1 %>
                      <% image = image_tag "x.png", :width => "20px", :height => "20px", :border=>"0" %>
                      <%= link_to image, :controller => "account", :action => "delete", :id => account.id %>
                  <% end %>
                </td>
              </tr>
          <% end %>
      <% end %>
      <tr>
        <th>New</th>
        <td><%= text_field_tag(:name) %></td>
        <td><%= text_field_tag(:username) %></td>
        <td><%= password_field_tag(:password) %></td>
        <td><%= check_box_tag(:is_admin) %></td>
        <td><%= submit_tag("Add") %></td>
      </tr>
    </table>
<% end %>
