<!DOCTYPE html>
<html>
<head>
  <title>Dynamote</title>
  <%= stylesheet_link_tag "smoothness/jquery-ui-1.8.16.custom"%>
  <%= javascript_include_tag "jquery-1.6.4.min"%>
  <%= javascript_include_tag "jquery-ui-1.8.16.custom.min.js"%>
  <%= stylesheet_link_tag "960"%>
  <%= stylesheet_link_tag "gooeymenu.css"%>
  <%= stylesheet_link_tag "home"%>
  <%= stylesheet_link_tag "login"%>
  <%= stylesheet_link_tag "style"%>
  <%= javascript_include_tag "gooeymenu" %>
  <%= javascript_include_tag "ui.tabs.closable.js"%>
  <%= javascript_include_tag "builder.js"%>
  <%= csrf_meta_tags %>
</head>

<% if(session[:is_authenticated] and session[:account].theme != nil) %>
<body style='background: url("/images/<%= session[:account].theme %>.jpg")'>
<% else %>
<% image = image_tag "x.png", :width => "20px", :height => "20px", :border=>"0" %>
<body style='background: url("/images/black.jpg")'>
<% end %>
<% if session[:is_authenticated] and session[:account].is_admin == true %>
    <div style="color: #c12d2e;" align="center"><%= t :administator_mode %></div>
<% else %>
    <div class="hidden">HIDDEN TEXT</div>
<% end %>
<div id="header" class="container_12 header"> <a href="/" >
  <div class="grid_12 push_0">
    <img src="/images/dm_logo3.png" />
  </div></a>
</div>
<!-- Outside Container for Content -->
<div id="content" class="ui-corner-all container_12 content">
  <!-- Displays bar if Error Occurs -->
  <div id="flash_bar" class="ui-corner-all">
    <% if flash[:error] %>
        <div id="error_bar" class="ui-corner-all">
          <%= flash[:error] %>
        </div>
    <% elsif flash[:notice] %>
        <div id="notice_bar" class="ui-corner-all">
          <%= flash[:notice] %>
        </div>
    <% else %>
        <div id="info_bar" class="ui-corner-all">
          <%= flash[:notice] %>
        </div>
    <% end %>
  </div>
  <!-- Navigation Menu-->
  <ul id="gooeymenu4" class="framemenu">
    <% if session[:is_authenticated] == true %>

        <li><%= link_to(t(:log_out), :controller=>'account', :action=>'logout') %></li>
        <% if session[:account].is_admin == true %>
            <li><%= link_to(t(:manage_accounts), :controller => 'account', :action =>"view_all") %></li>
                    <% end %>
        <li><%= link_to(t(:edit_your_account), :controller => 'account', :action =>"edit") %></li>
        <li><%= link_to(t(:view_all_devices), :controller => 'device', :action => 'view_all') %></li>
        <li><%= link_to(t(:your_remote),:controller=>'builder', :action=>'index' ) %></li>

    <% else if Account.count == 0 %>
        <li><%=link_to(t(:create_new_account), :controller =>'account', :action =>"add_admin")%></li>

    <%else%>
        <li><%=link_to(t(:log_in), :controller =>'account', :action =>"login")%></li>
    <%end%>
        <% end %>


  </ul>


  <!-- Welcome Menu -->
  <script>
      //gooeymenu.setup({id:'gooeymenu4', snapdelay:500})
  </script>
  <div id="navbar">
    <% if session[:is_authenticated] == true %>
        <% if session[:is_authenticated] and session[:account].name != nil %>
            <div id="greeting"><%="" + session[:account].name %></div>
        <% end %>
    <% end %>
  </div>
  <!-- Main Content -->
  	<div id="container" class="ui-corner-all container_12 content">
		<%= yield %>
	</div>
</div>
</div>

<div id="footer" class = "container_12">
  <%= javascript_tag "$(\"input:submit\").button();$(\"input\").addClass(\"ui-corner-all\")" %>
  <%= link_to "Mobile Site", :controller => "home", :action => "set_layout", :mobile => "1" %>
  <br>
  <%= link_to "Presentation", "/presentation/introduction/index.html"%>


</div>

    <script>
        $(document).ready(function() {
            $("#notice_bar").fadeOut(7000);
            $("#error_bar").fadeOut(7000);
            event.preventDefault();
        });
    </script>


</body>
</html>
